#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.bigred {
  font-family: "Courier New";
  font-style: italic;
  font-size: xx-large;
  color: red;
}
body {
  place-items: unset !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.css-46bh2p-MuiCardContent-root {
  padding: 0 !important;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@media only screen and (max-width: 600px) {
  .card {
    margin-top: 6vh !important;
    width: "90vw";
    /* margin-left: 5vw;
    margin-top: 15vh;
    width: 90vw; */
  }
  .cardHeader {
    margin-top: -5vh;
  }
  .textfield {
    width: 25vw;
  }
}
.buttons {
  background-color: "aqua";
}
.card {
  padding: 2em;
  margin-top: 15vh;
  /* margin-left: 5vw;
  margin-top: 15vh;
  width: 90vw; */
}
.usersList {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 2vw;
  box-sizing: border-box;
  height: calc(50vh);
  overflow-y: auto;
  overflow-x: hidden;
}
.userBubble {
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  position: relative;
  padding: 2vw;
  width: 50vw;
  margin-bottom: -1em;
  border-radius: 10px;
  left: -3vw;
  color: white;
}

.read-the-docs {
  color: #888;
}
.scenario-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
}
.scenario-message {
  color: white;
  width: 80%;
  margin: 2px;
  padding: 1em;
  /* font-size: smaller; */
  font-weight: bold;
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  padding: 0 !important;
  margin: 0 !important;
}
